@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
/* CSS styles for the navigation bar */
.navbar {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
  }

  .navbar .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar ul li {
    margin-left: 10px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: white;

}

  .navbar ul li:first-child {
    margin-left: 0;
  }